<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Karuikey">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LanguageListActivity"
            android:exported="false"
            android:label="@string/available_languages" />
        <activity
            android:name=".LanguagesActivity"
            android:exported="false"
            android:label="@string/languages_title" />
        <activity
            android:name=".AppearanceActivity"
            android:exported="false"
            android:label="@string/appearance_title" />
        <activity
            android:name=".TypingActivity"
            android:exported="false"
            android:label="@string/typing_title" />
        <activity
            android:name=".TryKaruikeyActivity"
            android:exported="false"
            android:label="@string/try_keyboard_title" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/about_title" />
        <service
            android:name=".KaruikeyService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>

</manifest>
